{% extends 'base.html' %}


{% block custom_css %}
{% endblock %}


{% block title %}
    About
{% endblock %}


{% block menu %}
    <ul id="menu-primary-items" class="menu-primary-items">
        <li id="menu-item-111" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-111"><a href="/static/css/Apex Live Demo_ Sophisticated and minimalist.html">Home</a></li>
        <li id="menu-item-113" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-113  current-menu-item"><a href="https://www.competethemes.com/apex-live-demo/about/">About</a></li>
        <li id="menu-item-113" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-113"><a href="https://www.competethemes.com/apex-live-demo/about/">Contact me</a></li>
    </ul>
{% endblock %}


{% block main %}
    <section id="main" class="main" role="main">
        <div class="entry page publish author-drop-live-demo post-61">
		    <article>
				<div class="post-container">
			        <div class="post-header">
				        <h2 class="post-title">About</h2>
			        </div>
			        <div class="post-content">
				        <p>Apex is a sophisticated, minimalist theme.</p>
                        <p>It looks great and performs wonderfully on phones, tablets, laptops, and everything in between.</p>
                        <p>As a fast, responsive, accessibility-ready, and translation-ready theme, Apex is a theme you can trust to present your content to the world.</p>
                    </div>
		        </div>
			</article>
    	</div>
    </section> <!-- .main -->
{% endblock %}




{% block custom_js %}
{% endblock %}
