{% extends 'base.html' %}


{% block custom_css %}
{% endblock %}


{% block title %}
    ArticlePublis
{% endblock %}


{% block menu %}
    <ul id="menu-primary-items" class="menu-primary-items">
        <li id="menu-item-111" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-111"><a href="/blog/">Home</a></li>
        <li id="menu-item-113" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-113"><a href="/blog/about/">About</a></li>
        <li id="menu-item-113" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-113"><a href="/blog/contact/">Contact me</a></li>
    </ul>
{% endblock %}


{% block main %}
    <section id="main" class="main" role="main">
        <div class="entry post publish author-drop-live-demo post-44 format-standard has-post-thumbnail sticky category-cooking category-news post_tag-blogging post_tag-funny post_tag-new">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <p>Title*: {{ form.title }}</p>
                <p>Img: <input type="file" name="img"></p>
                <p> Content*: </p>
                {{ form.content }}
                <p>Catagory*:
                    <select name="catagory">
                        {% for catagory in catagorys %}
                            <option value="{{ catagory.id }}">{{ catagory.name }}</option>
                        {% endfor %}
                    </select>
                </p>
                <p>Tag*:
                    <select multiple="multiple" id="id_tags" name="tags">
                        {% for tag in tags %}
                            <option value="{{ tag.id }}">{{ tag.name }}</option>
                        {% endfor %}
                    </select>
                </p>
                <input type="submit" value="Publish">
            </form>
        </div>
    </section>
{% endblock %}


{% block custom_js %}
    <script src="/static/js/tinymce/tinymce.min.js"></script>
    <script src="/static/js/tinymce/config.js"></script>
{% endblock %}