{% extends 'base.html' %}


{% block custom_css %}
{% endblock %}


{% block title %}
    Contact
{% endblock %}


{% block menu %}
    <ul id="menu-primary-items" class="menu-primary-items">
        <li id="menu-item-111" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-111"><a href="/static/css/Apex Live Demo_ Sophisticated and minimalist.html">Home</a></li>
        <li id="menu-item-113" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-113"><a href="https://www.competethemes.com/apex-live-demo/about/">About</a></li>
        <li id="menu-item-113" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-113 current-menu-item"><a href="https://www.competethemes.com/apex-live-demo/about/">Contact me</a></li>
    </ul>
{% endblock %}


{% block main %}
    <section id="main" class="main" role="main">
        <div class="entry page publish author-drop-live-demo post-68">
		    <article>
				<div class="post-container">
                    <div class="post-header">
                        <h2 class="post-title">Contact</h2>
                    </div>
		        	<div class="post-content">
				        <p>This is an example of a simple contact page using the Simple Basic Contact Form&nbsp;plugin.</p>
                        <div id="simple-contact-form" class="scf">
                            <form action="" method="post">
                                <fieldset class="scf-name">
                                    <label for="scf_name">Name (Required)</label>
                                    <input name="scf_name" id="scf_name" type="text" size="33" maxlength="99" value="" placeholder="Your Name">
                                </fieldset>
                                <fieldset class="scf-email">
                                    <label for="scf_email">Email (Required)</label>
                                    <input name="scf_email" id="scf_email" type="text" size="33" maxlength="99" value="" placeholder="Your Email">
                                </fieldset>
                                <fieldset class="scf-response">
                                    <label for="scf_response">1 + 1 =</label>
                                    <input name="scf_response" id="scf_response" type="text" size="33" maxlength="99" value="" placeholder="Correct Response">
                                </fieldset>
                                <fieldset class="scf-message">
                                    <label for="scf_message">Message (Required)</label>
                                    <textarea name="scf_message" id="scf_message" cols="33" rows="7" placeholder="Your Message"></textarea>
                                </fieldset>
                                <div class="scf-submit">
                                    <input type="submit" name="Submit" id="scf_contact" value="Send email">
                                    <input type="hidden" name="scf_key" value="process">
                                    <input type="hidden" id="scf-nonce" name="scf-nonce" value="7b4ef9142d">
                                </div>
                            </form>
                        </div>
                        <style>#simple-contact-form fieldset { width: 100%; overflow: hidden; margin: 12px 0; border: 0; padding: 1px; } #simple-contact-form fieldset input { float: left; width: 60%; } #simple-contact-form textarea { float: left; clear: both; width: 95%; } #simple-contact-form label { float: none; clear: both; display: block; margin-bottom: 12px;}</style><div style="clear:both">&nbsp;</div>
                    </div>
                </div>
            </article>
	    </div>
    </section> <!-- .main -->
{% endblock %}


{% block custom_js %}
{% endblock %}