{% extends 'base.html' %}


{% block title %}
    {{ article.title }}
{% endblock %}


{% block custom_css%}
{% endblock %}


{% block menu %}
    <ul id="menu-primary-items" class="menu-primary-items">
        <li id="menu-item-111" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-111"><a href="/blog/">Home</a></li>
        <li id="menu-item-113" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-113"><a href="/blog/about/">About</a></li>
        <li id="menu-item-113" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-113"><a href="/blog/contact/">Contact me</a></li>
    </ul>
{% endblock %}


{% block main %}
    <section id="main" class="main" role="main">
        <div class="entry post publish author-drop-live-demo post-19 format-standard has-post-thumbnail category-fashion category-gaming post_tag-blogging post_tag-cooking post_tag-fashion post_tag-food">
		    <article>
                <div class="featured-image" style="background-image: url(/uploads/{{ article.img }}">
{#                    <img src="/uploads/{{ article.img }}">#}
                </div>
                <div class="post-container">
                    <div class="post-header">
                        <h2 class="post-title">{{ article.title }}</h2>
                        <span class="post-date">
                            Published {{ article.publish_time | date:"F d, Y" }}				</span>
                    </div>
                    <div class="post-content">
                        {{ article.content | safe }}
                    </div>
                    <div class="post-meta">
                        <p class="post-categories">
                            <span>Published in </span>
                            <a href="https://www.competethemes.com/apex-live-demo/category/fashion/" title="View all posts in fashion">{{ article.catagory }}</a>
                        </p>
                        <div class="post-tags">
                            <ul>
                                {% for tag in article.tags.all %}
                                    <li>
                                        <a href="#" title="View all posts tagged blogging">{{ tag.name }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% if next_post or previous_post %}
                        <nav class="further-reading">
                            <div class="previous">
                                {% if previous_post %}
                                    <span>Previous Post</span>
                                    <a href="/blog/article/?id={{ previous_post.id }}">{{ previous_post.title }}</a>
                                {% endif %}
                            </div>
                            <div class="next">
                                {% if next_post %}
                                    <span>Previous Post</span>
                                    <a href="/blog/article/?id={{ next_post.id }}">{{ next_post.title }}</a>
                                {% endif %}
                            </div>
                        </nav>
                    {% endif %}
                    </div>
                </div>
            </article>

            <section id="comments" class="comments">
                <div class="comments-number">
                    {% if not article.comment_set.all %}
                        <h3>Be First to Comment</h3>
                        </div>
                    {% else %}
                        <h3>Comments</h3>
                        </div>
                        {% for comment in article.comment_set.all %}
                            <ol class="comment-list">
                                <lable>{{ comment.username }}: </lable><lable>{{ comment.content }}</lable>
                            </ol>
                        {% endfor %}
                        <!-- .comment-list -->
                    {% endif %}

                <div id="respond" class="comment-respond">
                    <h3 id="reply-title" class="comment-reply-title">Leave a Reply</h3>
                    <form action="/blog/article/?id={{ article.id }}" method="post" id="commentform" class="comment-form" novalidate="">
                        {% csrf_token %}
                        {% if not user.is_authenticated %}
                            <p class="comment-notes">
                                <span id="email-notes">Your email address will not be published.</span> Required fields are marked <span class="required">*</span>
                            </p>
                            <p class="comment-form-author">
                                <label>Name*</label>
                                <input id="author" name="username" type="text" value="" size="30" aria-required="true">
                            </p>
                            <p class="comment-form-email">
                                <label>Email*</label>
                                <input id="email" name="email" type="email" value="" size="30" aria-required="true">
                            </p>
                        {% endif %}
                        <p class="comment-form-comment">
                            <label>Comment</label>
                            <textarea required="" id="comment" name="content" cols="45" rows="8" aria-required="true" min_length="10" placeholder="no more than 200 words"></textarea>
                        </p>
                        <p class="form-submit"><input name="submit" type="submit" id="submit" class="submit" value="Post Comment">
                        </p>
                    </form>
                </div>
                <!-- #respond -->
            </section>
            <!-- #comments -->
        </div>

    </section>
    <!-- .main -->

{% endblock %}

{% block custom_js %}
{% endblock %}