{% extends 'base.html' %}


{% block custom_css %}
{% endblock %}


{% block title %}
    Register
{% endblock %}


{% block menu %}
    <ul id="menu-primary-items" class="menu-primary-items">
        <li id="menu-item-111" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-111"><a href="/static/css/Apex Live Demo_ Sophisticated and minimalist.html">Home</a></li>
        <li id="menu-item-113" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-113"><a href="https://www.competethemes.com/apex-live-demo/about/">About</a></li>
        <li id="menu-item-113" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-113"><a href="https://www.competethemes.com/apex-live-demo/about/">Contact me</a></li>
    </ul>
{% endblock %}


{% block main %}
    <section id="main" class="main" role="main">
        <div class="entry post publish author-drop-live-demo post-44 format-standard has-post-thumbnail sticky category-cooking category-news post_tag-blogging post_tag-funny post_tag-new">

        </div>
    </section>
{% endblock %}


{% block custom_js %}
{% endblock %}