<!--右侧边栏-->
<aside class="sidebar sidebar-primary" id="sidebar-primary" role="complementary">
    <section id="text-3" class="widget widget_text">
        <h3 class="widget-title">About Apex</h3>
        <div class="textwidget">
            <p>Apex is a sophisticated, minimalist theme. </p>
            <p>It looks great and performs wonderfully on phones, tablets, laptops, and everything in between. </p>
            <p>As a fast, responsive, accessibility-ready, and translation-ready theme, Apex is a theme you can trust to present your content to the world.</p>
        </div>
    </section>
    <section id="search-4" class="widget widget_search">
        <h3 class="widget-title">Search</h3>
        <div class="search-form-container">
            <form role="search" method="get" class="search-form" action="/static/css/Apex Live Demo_ Sophisticated and minimalist.html">
                <label class="screen-reader-text" for="search-field">Search</label>
                <input id="search-field" type="search" class="search-field" value="" name="s" title="Search for:">
                <input type="submit" class="search-submit" value="Go">
            </form>
        </div>
    </section>
    <section id="recent-posts-4" class="widget widget_recent_entries">
        <h3 class="widget-title">Recent Posts</h3>
        <ul>
            <li>
                <a href="https://www.competethemes.com/apex-live-demo/2015/02/10/four-stunning-new-layouts/">From State to State</a>
            </li>
            <li>
                <a href="https://www.competethemes.com/apex-live-demo/2015/02/01/the-tracks-theme-is-awesome/">Work, Productivity, and Decision Making</a>
            </li>
            <li>
                <a href="https://www.competethemes.com/apex-live-demo/2015/01/17/change-your-look/">New Lessons and Perspectives</a>
            </li>
            <li>
                <a href="https://www.competethemes.com/apex-live-demo/2015/01/03/great-for-media-based-websites/">Great for Personal &amp; Business Blogs</a>
            </li>
            <li>
                <a href="https://www.competethemes.com/apex-live-demo/2014/11/17/an-example-blog-post/">Without a Featured Image</a>
            </li>
        </ul>
		</section>
    <section id="categories-4" class="widget widget_categories">
        <h3 class="widget-title">Categories</h3>
        <ul>
            <li class="cat-item cat-item-2"><a href="https://www.competethemes.com/apex-live-demo/category/cooking/">cooking</a> (2)</li>
            <li class="cat-item cat-item-3"><a href="https://www.competethemes.com/apex-live-demo/category/design/">design</a> (3)</li>
            <li class="cat-item cat-item-4"><a href="https://www.competethemes.com/apex-live-demo/category/fashion/">fashion</a> (2)</li>
            <li class="cat-item cat-item-5"><a href="https://www.competethemes.com/apex-live-demo/category/gaming/">gaming</a> (3)</li>
            <li class="cat-item cat-item-6"><a href="https://www.competethemes.com/apex-live-demo/category/news/">news</a> (5)</li>
            <li class="cat-item cat-item-7"><a href="https://www.competethemes.com/apex-live-demo/category/travel/">travel</a> (4)</li>
		</ul>
    </section>
    <section id="tag_cloud-3" class="widget widget_tag_cloud">
        <h3 class="widget-title">Tags</h3>
        <div class="tagcloud">
            <a href="https://www.competethemes.com/apex-live-demo/tag/blogging/" class="tag-link-8" title="5 topics" style="font-size: 22pt;">blogging</a>
            <a href="https://www.competethemes.com/apex-live-demo/tag/cooking/" class="tag-link-9" title="1 topic" style="font-size: 8pt;">cooking</a>
            <a href="https://www.competethemes.com/apex-live-demo/tag/fashion/" class="tag-link-10" title="3 topics" style="font-size: 16.75pt;">fashion</a>
            <a href="https://www.competethemes.com/apex-live-demo/tag/food/" class="tag-link-11" title="3 topics" style="font-size: 16.75pt;">food</a>
            <a href="https://www.competethemes.com/apex-live-demo/tag/foreign/" class="tag-link-12" title="2 topics" style="font-size: 13.25pt;">foreign</a>
            <a href="https://www.competethemes.com/apex-live-demo/tag/funny/" class="tag-link-13" title="3 topics" style="font-size: 16.75pt;">funny</a>
            <a href="https://www.competethemes.com/apex-live-demo/tag/images/" class="tag-link-14" title="2 topics" style="font-size: 13.25pt;">images</a>
            <a href="https://www.competethemes.com/apex-live-demo/tag/money/" class="tag-link-15" title="1 topic" style="font-size: 8pt;">money</a>
            <a href="https://www.competethemes.com/apex-live-demo/tag/new/" class="tag-link-16" title="3 topics" style="font-size: 16.75pt;">new</a>
            <a href="https://www.competethemes.com/apex-live-demo/tag/overseas/" class="tag-link-17" title="1 topic" style="font-size: 8pt;">overseas</a>
            <a href="https://www.competethemes.com/apex-live-demo/tag/random/" class="tag-link-18" title="2 topics" style="font-size: 13.25pt;">random</a>
            <a href="https://www.competethemes.com/apex-live-demo/tag/video-games/" class="tag-link-19" title="2 topics" style="font-size: 13.25pt;">video games</a>
            <a href="https://www.competethemes.com/apex-live-demo/tag/wordpress/" class="tag-link-20" title="5 topics" style="font-size: 22pt;">wordpress</a></div>
    </section>
</aside><!-- #sidebar-primary -->